@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.details {
  background: #fff;
  position: relative;
}

.details .resume {
  background: var(--color-footer);
  /* width: 944px; */
  /* height: 745px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem;
  margin: auto;
  width: 50%;
  text-align: center;
  position: absolute;
  top: -170px;
  right: 25%;
  z-index: 100;
}

.items-spacing {
  margin-bottom: 4rem;
}

.details .resume img {
  width: 115.39px;
  height: 109px;
}

.details .resume p:nth-child(1) {
  font-family: "Inter";
  font-size: 20px;
  line-height: 35px;
}

.details .resume .download-resume {
  background: var(--color-footer);
  border: 1px solid var(--color-skill);
  font-family: var(--font-family);
  font-size: 28px;
  line-height: 33px;
  color: var(--color-skill);
  padding: 1rem 2rem;
}

.bottom-details {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
