.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 15rem;
  /* width: 1440px; */
  height: 69px;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.07);
  z-index: 100;
}

.navbar-logo {
  margin-right: 5rem;
  cursor: pointer;
}

.navbar-logo img {
  width: 33.87px;
  height: 32px;
}

.navbar-content .navbar-links {
  display: flex;
  flex-direction: flex-start;
  flex: 1;
}

.navbar-content .navbar-links p {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 19px;
  margin: 0 1rem;
}

.navbar-content .navbar-links p:nth-child(1) {
  color: #f22e5d;
}
