* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.num {
  color: var(--color-subtext);
}

h2 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
}
